# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
/pubspec.lock
**/doc/api/
/.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.flutter-plugins/
.flutter-plugins-dependencies
.generated/

# iOS/Android related
ios/Pods/
android/.gradle/
android/app/debug.keystore

# Web related
web/.dart_tool/
web/build/

# Firebase related (if using Firebase)
firebase.json
